In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
adult=pd.read_csv('Adults.csv')

In [4]:
adult.head()

,gender,cgain,closs,wkhrs,country,gt50k,age,jobtype,income,education,eduno,merital,jobrole,relation,race
0,Male,2174,0,40,United-States,<=50K,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White
1,Male,0,0,13,United-States,<=50K,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White
2,Male,0,0,40,United-States,<=50K,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White
3,Male,0,0,40,United-States,<=50K,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black
4,Female,0,0,40,Cuba,<=50K,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black

In [14]:
age=adult['country']

In [ ]:
hr=adult['wkhrs']

In [ ]:

plt.bar(age,hr)

In [12]:
age.shape

(30162,)